{% extends "auctions/layout.html" %}

{% block body %}

<div class="row mx-3">
    <div class="col-12 col-md-8">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}" role="alert" style="display: inline-block; margin-top: 20px;">
                    <ul class="messages" style="margin: 0; padding-left: 20px;">
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    
        <div class="listing-container" style="margin-right: 25px;">
            {% if user.is_authenticated %}
                <div class="button-group" style="display: flex; justify-content: start; margin-bottom: 20px; margin-top: 20px;">
                    {% if InWatchList %}
                        <form action="{% url 'remove_watchlist' listing.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
                        </form>
                    {% else %}
                        <form action="{% url 'add_watchlist' listing.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Add to Watchlist</button>
                        </form>
                    {% endif %}
            
                    {% if user == listing.owner and listing.is_active == True %}
                        <form action="{% url 'close_listing' listing.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" style="margin-left: 10px;">Close Listing</button>
                        </form>
                    {% endif %}
                </div>
             {% endif %}
        

            <h2 style="margin-bottom: 20px;">{{ listing.title }}</h2>
            <img src="{{ listing.image_url }}" alt="{{ listing.title }}" style="max-height: 300px; max-width: 700px; object-fit: cover; min-height: 700px;">
            <p>{{ listing.description|safe }}</p>
            {% load humanize %}
            <p>Starting Bid: ${{ listing.starting_bid|intcomma }}</p>
            {% if listing.is_active %}  
                <p>Current Bid: ${{ listing.current_price|intcomma }} by: {{ highest_bidder }} </p>
                <p>Listed by: <strong>{{ listing.owner }}</strong> </p>
            {% else %}
                <p>Final Bid: ${{ listing.current_price|intcomma }} </p>
                <p>Listed by: <strong>{{ listing.owner }}</strong> </p>
                <p>Winner: <strong>{{ listing.winner }}</strong> </p>
            {% endif %}

            {% if user.is_authenticated %}

                {% if listing.is_active %}
                    <form action="{% url 'place_bid' listing.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="bid_amount">Bid amount:</label>
                            <div class="input-group" style="width: 800px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" name="bid_amount" min="{{ listing.current_bid }}" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-bottom: 7px;">Place Bid</button>
                    </form>
                {% endif %}

                {% if user == listing.winner and listing.is_active == False %}
                    <div class="alert alert-success" role="alert" style="display: inline-block;">
                        <ul class="messages" style="margin: 0; padding-left: 20px;">
                            <li>You have won this auction!</li>
                        </ul>
                    </div>
                {% endif %}

                <form action="{% url 'add_comment' listing.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="comment">Add a comment:</label>
                        <textarea class="form-control" name="comment" rows="4" cols="50" style="width: 800px;" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Post Comment</button>
                </form>

            {% else %}

                <p><a href="{% url 'login' %}">Log in</a> to add to watchlist, bid, or post a comment.</p>

            {% endif %}

        </div>

    </div>

    <div class="col-12 col-md-4">
        <h3 style="padding-bottom: 10px;">Comments:</h3>
        {% for comment in comments %}
        <div class="comment">
            <p><strong>{{ comment.commenter }}:</strong> {{ comment.content }}</p>
        <hr>
        </div>
        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}
    </div>

</div>

{% endblock %}
