{% extends 'auctions/layout.html' %}

{% block body %}
  <h2 style="margin-left: 32px; margin-bottom: 20px;">My Watchlist</h2>

  <div class="row mx-3">

        {% for listing in listings %}

            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="{{ listing.image_url }}" alt="{{ listing.title }}" style="max-height: 300px; max-width: 300px; object-fit: cover; min-height: 300px;">
                <div class="card-body">
                    <h5 class="card-title"  style="height: 50px;">{{ listing.title|truncatechars:40 }}</h5>
                    <p class="card-title" style="height: 76px; overflow: hidden;">{{ listing.description|safe|striptags }}</p>
                    {% load humanize %}
                    <p class="card-title">Price: ${{ listing.current_price|intcomma }}</p>
                    <a href="{% url 'listing_detail' listing.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
            
        {% endfor %}

    </div>

{% endblock %}
